@font-face {
  font-family: 'icomoon';
  src: url('../hikster_icons/fonts/icomoon.eot?nbtv3n');
  src: url('../hikster_icons/fonts/icomoon.eot?nbtv3n#iefix') format('embedded-opentype'), url('../hikster_icons/fonts/icomoon.ttf?nbtv3n') format('truetype'), url('../hikster_icons/fonts/icomoon.woff?nbtv3n') format('woff'), url('../hikster_icons/fonts/icomoon.svg?nbtv3n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*=" icon-"],
[class^="icon-"] {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Agrandir:before {
  content: "\e902";
}

.icon-Aide:before {
  content: "\e903";
}

.icon-Ajouter:before {
  content: "\e904";
}

.icon-Bas:before {
  content: "\e905";
}

.icon-Boussole:before {
  content: "\e906";
}

.icon-Bus:before {
  content: "\e907";
}

.icon-Cadenas_fermer:before {
  content: "\e908";
}

.icon-Cadenas_ouvert:before {
  content: "\e909";
}

.icon-Calendrier:before {
  content: "\e90a";
}

.icon-Campings:before {
  content: "\e90b";
}

.icon-Carte:before {
  content: "\e90c";
}

.icon-Chalets_modernes:before {
  content: "\e90d";
}

.icon-Chalets_rustiques:before {
  content: "\e90e";
}

.icon-Divers:before {
  content: "\e90f";
}

.icon-Dnivel:before {
  content: "\e910";
}

.icon-Dnivel2:before {
  content: "\e911";
}

.icon-Droite:before {
  content: "\e912";
}

.icon-Dure:before {
  content: "\e913";
}

.icon-Fermer:before {
  content: "\e914";
}

.icon-Fermer2:before {
  content: "\e915";
}

.icon-Gauche:before {
  content: "\e916";
}

.icon-GPS:before {
  content: "\e917";
}

.icon-GPS2:before {
  content: "\e918";
}

.icon-Haut:before {
  content: "\e919";
}

.icon-Hotels:before {
  content: "\e91a";
}

.icon-Information:before {
  content: "\e91b";
}

.icon-Jai_fait_cette_randonne:before {
  content: "\e91c";
}

.icon-Lean-to:before {
  content: "\e91d";
}

.icon-Like:before {
  content: "\e91e";
}

.icon-Loupe:before {
  content: "\e91f";
}

.icon-Menu:before {
  content: "\e920";
}

.icon-Messages:before {
  content: "\e921";
}

.icon-Messenger:before {
  content: "\e922";
}

.icon-Notes:before {
  content: "\e923";
}

.icon-Notes2:before {
  content: "\e924";
}

.icon-Panier:before {
  content: "\e925";
}

.icon-Parkings:before {
  content: "\e926";
}

.icon-Partager:before {
  content: "\e927";
}

.icon-Photos:before {
  content: "\e928";
}

.icon-Plus:before {
  content: "\e901";
}

.icon-Plus_Rond:before {
  content: "\e900";
}

.icon-Points_de_vue:before {
  content: "\e929";
}

.icon-Profil:before {
  content: "\e92a";
}

.icon-Randonnes:before {
  content: "\e92b";
}

.icon-Rduire:before {
  content: "\e92c";
}

.icon-Restaurants:before {
  content: "\e92d";
}

.icon-Sonette:before {
  content: "\e92e";
}

.icon-Tentes:before {
  content: "\e92f";
}

.icon-Tlcharger:before {
  content: "\e930";
}

.icon-Trace_GPS:before {
  content: "\e931";
}

.icon-Valider:before {
  content: "\e932";
}

.icon-Videos:before {
  content: "\e933";
}

.icon-Voiture:before {
  content: "\e934";
}
