.fuzzy-filter {
  $border-color: rgba(34, 36, 38, 0.15);

  @include media($mobile) {
    margin: 0 1em;
  }

  @include media($tablet) {
    margin: 0 8em;
  }

  // Non-BEM overrides
  .ui.input input {
    border-radius: 0.28571429rem;
  }

  select {
    -webkit-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-color: $border-color;
    border-radius: 0 0.28571429rem 0.28571429rem 0;
    padding-left: .5em;
  }
}
